<html>
    <head>
        <title>Nunjucks Template</title>
        <meta name="author" content="{{author}}">
        <meta name="description" content="{{description}}">
    </head>
    <body>
        {% include "partials/navbar-partial.njk" %}
        {% block body %}

        {% endblock %}
    </body>
</html>