<div class="fixed bottom-0 left-0 w-full">
  <div>
    <div>
      <p>By clicking “Accept”, you agree to the storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our marketing efforts. View our <a href="">Privacy Policy</a> for more information.</p>
    </div>
    <div>
      <a href="javascript:void(0)">Deny</a>
      <a href="javascript:void(0)">Accept</a>
    </div>
  </div>
</div>