<div class="fixed bottom-0 left-0 w-full bg-white" id="cookies">
  <div class="max-w-screen-xl mx-auto py-4 grid grid-cols-12 gap-4">
    <div class="col-span-10">
      <p>By clicking “Accept”, you agree to the storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our marketing efforts. View our <a href="" class="">Privacy Policy</a> for more information.</p>
    </div>
    <div class="col-span-2 flex items-center gap-4">
      <a href="javascript:closeCookie()" class="p-4 rounded border-green-600 border-solid border text-green-600">Deny</a>
      <a href="javascript:closeCookie()" class="p-4 rounded bg-emerald-300 text-green-800">Accept</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  var cookies = document.getElementById("cookies");

  function closeCookie() {
    cookies.remove();
  }
</script>